div.bg-class{
    background: rgb(36,0,69);
    background: -moz-linear-gradient(145deg, rgba(36,0,69,1) 0%, rgba(23,0,56,1) 48%, rgba(9,0,43,1) 89%);
    background: -webkit-linear-gradient(145deg, rgba(36,0,69,1) 0%, rgba(23,0,56,1) 48%, rgba(9,0,43,1) 89%);
    background: linear-gradient(145deg, rgba(36,0,69,1) 0%, rgba(23,0,56,1) 48%, rgba(9,0,43,1) 89%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#240045",endColorstr="#09002b",GradientType=1);
}

.card{
    border: 1px solid rgb(63, 63, 63);
    max-width: 400px;
    min-height: 300px;
    width: 100%;
    background-color: #161616;
}

.card-body>ul>li{
    list-style-type: disc; 
    color: rgb(90, 2, 190);
    font-weight: 400;
  
}

.card:hover{
    border: 1px solid rgb(90, 2, 190);
    box-shadow: 0 0 60px 10px rgba(108, 4, 206, 0.5);
    cursor: pointer;
    transform: translateY(-10px);
}

.card:hover>.card-header>h2{
    color: rgb(119, 0, 255);
}




